{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <h2>Reviews:</h2>
    {% if reviews %}
        <ul>
        {% for review in reviews %}
            <li>
                <a href="{{ url_for('book_page', book_id=review.book.id) }}">{{ review.book.title }}</a><br>
                Rated {{ review.rating }}/5<br>
                {{ review.content }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{{ user.username }} has not submitted any reviews yet.</p>
    {% endif %}
{% endblock %}
